# Python cache
*.pyc
__pycache__/

# Logs and temp files
*.log
*.txt

# Binary test files and YAML
**.bin
*.yaml
!config.yaml.dist

# Keep marker files for empty directories
!.keep
!requirements.txt

# Ignore misc folder
misc/

# Ingore syntax highlither build files
node_modules/
package-lock.json
.qodo/
captures
