__pycache__/
*.pyc

*.log
captures/
misc/

protocols/**/debug/
protocols/**/json/

*.bin
*.yaml
!config.yaml.dist

node_modules/
package-lock.json
.qodo/

protocols/**/*
!protocols/**/def/
!protocols/**/handlers/
!protocols/**/opcodes/
!protocols/**/database/

!.keep
!requirements.txt