argcomplete==3.6.2
certifi==2025.11.12
charset-normalizer==3.4.4
colorama==0.4.6
crypto==1.4.1
greenlet==3.2.4
idna==3.11
Naked==0.1.32
Nuitka==2.7
ordered-set==4.1.0
pycryptodome==3.23.0
PyMySQL==1.1.2
PyYAML==6.0.2
requests==2.32.5
shellescape==3.8.1
SQLAlchemy==2.0.44
typing_extensions==4.15.0
urllib3==2.5.0
watchdog==4.0.1
zstandard==0.23.0
