tool_name: BinaryPacketsDSL
author: Magnus Pettersson
version: 0.5.0
# program/version kommer från vald proxy_profile
friendly_name: Mist of Pandaria 5.4.8

authserver:
  host: 0.0.0.0
  port: 3720

worldserver:
  host: 0.0.0.0
  port: 8086

proxy_profiles:
  vanilla: &vanilla_profile
    program: vanilla
    version: v1121
    # Vanilla, vmangos 1.12.1
    # Ports: 3714, 8015, 3413, 7817, 8010
    auth_proxy:
      listen_host: "0.0.0.0"
      listen_port: 3722
      auth_host: "192.168.11.30"
      auth_port: 3724

    world_proxy:
      listen_host: "0.0.0.0"
      listen_port: 8084
      world_host: "192.168.11.30"
      world_port: 8085

  mop_skyfire548: &mop_skyfire548_profile
    program: mop
    version: v18414
    # Mist of Pandaria SkyFire548
    # Ports 3794, 8095, 7898, 8090
    auth_proxy:
      listen_host: "0.0.0.0"
      listen_port: 3722
      auth_host: "192.168.11.30"
      auth_port: 3724

    world_proxy:
      listen_host: "0.0.0.0"
      listen_port: 8084
      world_host: "192.168.11.30"
      world_port: 8085

  mop_pandaria548: &mop_pandaria548_profile
    program: mop
    version: v18414
    # Mist of Pandaria, Pandaria548:
    # Ports: 3734, 8035, 7838, 8030
    auth_proxy:
      listen_host: "0.0.0.0"
      listen_port: 3722
      auth_host: "192.168.11.30"
      auth_port: 3724

    world_proxy:
      listen_host: "0.0.0.0"
      listen_port: 8084
      world_host: "192.168.11.30"
      world_port: 8085

proxy_profile: *mop_skyfire548_profile

control_server:
  enabled: true
  host: "127.0.0.1"
  port: 1337
  username: "admin"
  password: "admin"

client:
  build: 18414        
  platform: "x86"     
  os: "Win"          
  country: "enGB"   
  timezone: 60      
  ip: "192.168.11.30"
  
database:
  host: 192.168.11.81
  port: 3306
  username: root 
  password: pwd
  auth_db: skyfire548_auth
  world_db: skyfire548_world
  characters_db: skyfire548_characters

Logging:
  # Specify the logging levels as names (comma-separated) or use "All" for all levels.
  # Levels:
  #   - None
  #   - Success
  #   - Information
  #   - Anticheat
  #   - Warning
  #   - Error
  #   - Debug
  #   - Script
  #   - All
  # Example:
  #  logging_levels: Information, Success, Debug, Script, Error
  #  logging_levels: All
  logging_levels: All
  logging_file_levels: All
  log_file: dsl.log
  log_file_unit_test: unit_test.log

  # Define the date format for log timestamps.
  # Examples of formats:
  # usage: date_format: *se
  enGB: &enGB " [%Y-%m-%d %H:%M:%S]"
  en: &en " [%m/%d/%Y %I:%M:%S %p]"
  ru: &ru " [%d.%m.%Y %H:%M:%S]"
  se: &se " [%Y-%m-%d %H:%M:%S]"
  none: &none ""

  date_format: *se
